<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueFlowerLevel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueFlowerLevel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{0,46},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BoxWithBonusLevel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,38}</string>
                <key>textureRect</key>
                <string>{{0,89},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lossy.png</string>
            <key>size</key>
            <string>{50,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec09d5011744a06c47aa36d25cf55d5e:b9b8c92c8c5f4d3053c2fcb9b131f557:c210ab11d70923db421296db3ad1b2ac$</string>
            <key>textureFileName</key>
            <string>lossy.png</string>
        </dict>
    </dict>
</plist>
